.nav {
  width: 100vw;
  background-repeat: repeat;
  /* background-size: cover; */
  padding: 30px;
}
.nav-inner {
  max-width: 1000px;
  margin: 0 auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80% 1fr;
}
.nav h1,
.nav h2 {
  color: white;
}
.cover-photo {
  width: 100%;
  margin: 20px auto;
  display: block;
}
